<!DOCTYPE html>
<html lang="es">
<head>
    <title>Página de cámaras</title>
</head>
<body>
    <h1>Página de cámaras</h1>

    <h2>Fuentes de Datos</h2>
    {% for source in sources %}
        <form action="" method="POST">
            <p>Listado: {{ source }}</p>
            <button type="submit" name="source" value="{{ source }}">Descargar {{ source }}</button>
        </form>
        <hr>
    {% endfor %}


    <h2>Listado de cámaras</h2>
    {% for camera in cameras %}
        <p>ID: {{ camera.id }} </p>
        <p>URL de la imagen {{ camera.img_camera }}</p>
        <p><a href="{% url 'camera_detail' camera.id %}">Enlace a la cámara {{ camera.id }}</a></p>
        <p>Mostrar enlace a página dinámica</p>
        <p>Name: {{ camera.name }}</p>
        <p>número de comentarios: {{ camera.num_comments }}</p>
        <hr>
    {% endfor %}

</body>
</html>
