<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TeVeO - Página Principal</title>
    </head>
    <body>
        <h1>Bienvenido a TeVeO</h1>
        <p>Esta es la página principal</p>
        <p>Ordenar comentarios de + nuevos a + viejos</p>

        {% for comment in comments %}
            <br>
            <b>Comentario nuevo.</b>

            <p>Identificador de la cámara: {{ comment.camera_id }}</p>
            <p>Fecha del comentario: {{ comment.date }}</p>
            <p>Texto del comentario: {{ comment.text }}</p>
            <p>Imagen de la camara en el momento que se puso el mensaje</p>
            <hr>

        {% endfor %}
    </body>
</html>