img {
    width: 50%;
    height: auto;
}

/* styles.css */

/* Estilos generales */

body {
    font-family: Arial, sans-serif; /* Tipo de fuente predeterminado */
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
    box-sizing: border-box; /* Incluir bordes y relleno en el tamaño total */
    text-align: center !important;
}

.container {
    width: 80%; /* Ancho del contenedor principal */
    margin: auto; /* Centrar el contenedor en la página */
    padding: 20px; /* Espaciado interno */
}

/* Estilos para el encabezado */
.cabecera {
    background-image: url('../images/my_header.png'); /* Agregar una imagen de fondo */
    /*background-color: #333; /* Color de fondo oscuro */
    color: white; /* Texto en color blanco */
    padding: 20px; /* Espaciado interno */
    display: flex; /* Mostrar elementos en línea */
    align-items: center; /* Alinear elementos verticalmente */
    justify-content: center; /* Alinear elementos horizontalmente */
    background-size: cover; /* Ajustar la imagen de fondo al tamaño de la cabecera */
    background-position: center; /* Centrar la imagen de fondo */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */
}

.cabecera-texto {
    text-align: center;
}

.cabecera-link {
    font-size: 36px !important; /* Tamaño de fuente más grande */
}

.cabecera img {
    width: 150px; /* Tamaño de la imagen del logo */
    margin-right: 10px; /* Margen derecho para separar el texto del logo */
}

.favicon {
    width: 36px !important; /* Ajusta el tamaño según sea necesario */
    height: 36px !important;
    margin-right: 10px !important; /* Espacio entre la imagen y el texto */
}

.comments {
    width: 36px !important; /* Ajusta el tamaño según sea necesario */
    height: 36px !important;
    margin-right: 10px !important; /* Espacio entre la imagen y el texto */
}

.cabecera .cabecera-texto a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Texto en negrita */
    font-size: 24px; /* Tamaño del texto */
    text-align: center !important;
}

.cabecera .cabecera-texto a:hover {
    color: #ccc; /* Cambio de color al pasar el ratón */
}

/* Estilos para el menú de navegación */
nav {
    background-color: #333; /* Color de fondo oscuro */
    padding: 10px 0; /* Espaciado interno arriba y abajo */
}

nav a {
    color: white; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    margin: 0 10px; /* Margen entre enlaces */
    font-size: 18px; /* Tamaño del texto */
}

nav a:hover {
    color: #ccc; /* Cambio de color al pasar el ratón */
}

/* Estilos para el pie de página */
footer {
    position: fixed; /* Posicionamiento fijo */
    bottom: 0; /* Pegado al borde inferior */
    left: 0; /* Alineado a la izquierda */
    width: 100%; /* Ancho completo */
    background-color: #333; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-camaras, .footer-comentarios {
    flex: 1; /* Ajustar el tamaño de los elementos de forma equitativa */
    text-align: center; /* Centrar el texto */
    padding: 0 10px; /* Añadir un pequeño espacio entre los elementos */
}

.footer-icon {
    width: 36px !important; /* Ajusta el tamaño según sea necesario */
    height: 36px !important;
    margin-right: 10px; /* Espacio a la derecha de la imagen para separarla del texto */
}

/* Estilos específicos para elementos de contenido */
.container h1,
.container h2,
.container h3,
.container h4 {
    color: #333; /* Color del texto del encabezado */
}

.container .page-title {
    font-size: 24px; /* Tamaño del título de la página */
    margin-bottom: 20px; /* Margen inferior del título */
}

.container .section-title {
    font-size: 20px; /* Tamaño del título de sección */
    margin-bottom: 10px; /* Margen inferior del título */
}

.container .comentario {
    margin-bottom: 20px; /* Margen inferior entre comentarios */
}

.container .comentario-date {
    font-style: italic; /* Estilo de texto en cursiva */
    color: #888; /* Color de texto gris para la fecha */
}

.container .comentario-user {
    font-style: italic; /* Estilo de texto en cursiva */
    color: #888; /* Color de texto gris para la fecha */
}

.container .comentario-img {
    font-style: italic; /* Estilo de texto en cursiva */
    color: #888; /* Color de texto gris para la información de imagen */
}

.container .camara-no-img {
    color: #888; /* Color de texto gris para cuando no hay imagen */
}

.container .camara-ubicacion {
    font-style: italic; /* Estilo de texto en cursiva */
    color: #888; /* Color de texto gris para la información de ubicación */
}

.container .fecha-actual {
    font-style: italic; /* Estilo de texto en cursiva */
    color: #888; /* Color de texto gris para la fecha actual */
}

.container .comentario-label {
    font-weight: bold; /* Texto en negrita para etiqueta del comentario */
}

.container .comentario-input {
    width: 100%; /* Ancho completo para el campo de entrada */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Margen inferior */
}

.container .comentario-btn {
    background-color: #333; /* Color de fondo oscuro para el botón */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor de ratón tipo puntero */
}

.container .comentario-btn:hover {
    background-color: #444; /* Cambio de color al pasar el ratón */
}

/* Estilos para el contenedor de comentarios */
.comentario-container {
    background-color: #f9f9f9; /* Color de fondo de la caja */
    border: 1px solid #ddd; /* Borde alrededor de la caja */
    border-radius: 5px; /* Borde redondeado */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 20px; /* Margen inferior entre cada caja de comentario */
}

/* Estilos para el texto del comentario */
.comentario-container p {
    margin: 0; /* Eliminar el margen interior de los párrafos dentro de la caja */
}

/* Estilos para el enlace del comentario */
.comentario-container a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Eliminar subrayado del enlace */
}

.comentario-container a:hover {
    text-decoration: underline; /* Subrayar el enlace al pasar el ratón */
}

/* Estilos para los contenedores de fuentes de datos */
.fuente-container {
    background-color: #f9f9f9; /* Color de fondo de la caja */
    border: 1px solid #ccc; /* Borde de 1px sólido */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 20px; /* Margen inferior */
    border-radius: 5px; /* Borde redondeado */
}

/* Estilos para los contenedores de cámaras */
.camara-container {
    background-color: #f9f9f9; /* Color de fondo de la caja */
    border: 1px solid #ccc; /* Borde de 1px sólido */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 20px; /* Margen inferior */
    border-radius: 5px; /* Borde redondeado */
}

.comentario-container {
    display: flex; /* Cambiar al diseño de caja flexible */
    align-items: center; /* Alinear verticalmente los elementos */
}

.comentario-container .comentario-texto {
    flex-grow: 1; /* Permite que este elemento ocupe todo el espacio restante */
}

.comentario-container img {
    max-width: 200px; /* Establece un ancho máximo para la imagen */
    height: auto; /* Mantener la proporción de aspecto */
    margin-left: 20px; /* Espacio a la izquierda de la imagen */
}

.camara-container-detail {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.camara-img-container {
    flex: 1;
    margin-right: 20px; /* Espacio entre la imagen y los botones */
}

.likes-container {
    display: flex;
    flex-direction: column; /* Apila los botones verticalmente */
}

.like-button {
    margin-bottom: 10px; /* Espacio entre el botón y el contador de likes */
}

/* para mi página de error */
.alert-heading {
    font-size: 1.5rem;
    font-weight: bold;
}

.alert p {
    font-size: 1.1rem;
}
