{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}TeVeO{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <link rel="icon" href="{% static 'images/favicon-2.png' %}" type="image/x-icon">
        <style>
            body {
                font-size: {% if request.session.font_size %}{{ request.session.font_size }}{% else %}16px{% endif %};
                font-family: {% if request.session.font_type %}{{ request.session.font_type }}{% else %}'Arial', sans-serif{% endif %};
            }
        </style>
    </head>

    <body>
        <header class="cabecera" id="header">
            <img src="{% static 'images/favicon-2.png' %}" alt="Favicon" class="favicon">
            <div class="cabecera-texto">
                <a href="{% url 'index' %}" class="cabecera-link">TeVeO</a>
                <span  class="username">{{ request.session.username|default:"Anónimo" }}</span>
            </div>
        </header>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            {% if pagina != "Principal" %}
                <a href="{% url 'index' %}" class="nav-link">Principal</a>
            {% endif %}
            {% if pagina != "Cámaras" %}
                <a href="{% url 'camaras' %}" class="nav-link">Cámaras</a>
            {% endif %}
            {% if pagina != "Configuración" %}
                <a href="{% url 'settings' %}" class="nav-link">Configuración</a>
            {% endif %}
            {% if pagina != "Ayuda" %}
                <a href="{% url 'help' %}" class="nav-link">Ayuda</a>
            {% endif %}
            {% if pagina != "Admin" %}
                <a href="{% url 'admin:index' %}" class="nav-link">Admin</a>
            {% endif %}
        </nav>

        {% block content %}
        {% endblock %}

        <footer class="footer">
            <div class="footer-content">
                <div class="footer-camaras">
                    <p>Cámaras: {{ total_cameras }}</p>
                </div>
                <div class="footer-comentarios">
                    <p>Comentarios: {{ total_comments }}</p>
                </div>
            </div>
        </footer>

    </body>
</html>

