{% extends 'base.html' %}

{% block title %} TeVeO - Cámaras {% endblock %}

{% block content %}
<div class="container">
    <h1 class="page-title">Fuentes de Datos</h1>
    <hr>

    <div class="fuentes-datos">
        {% for source in sources %}
            <div class="fuente-container">
                <form action="" method="POST" class="fuente-form">
                    <p class="fuente-info">Listado: {{ source }}</p>
                    <button type="submit" name="source" value="{{ source }}" class="fuente-btn">Descargar {{ source }}</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <hr>
    <h1 class="page-title">Listado de cámaras</h1>
    <hr>

    <div class="listado-camaras">
        {% for camera in cameras %}
            <div class="camara-container">
                <p class="camara-id">ID: {{ camera.id }}</p>
                <a href="{% url 'camera_detail' camera.id %}" class="camara-link">Enlace a la cámara {{ camera.id }}</a>
                <a href="{% url 'camera_dyn' camera.id %}" class="camara-dyn-link">Enlace a la cámara dinámica {{ camera.id }}</a>
                <p class="camara-name">Nombre: {{ camera.name }}</p>
                <p class="camara-comments">Número de comentarios: {{ camera.num_comments }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
