{% extends 'base.html' %}

{% block title %} TeVeO - Página dinámica de cámara específica {% endblock %}

{% block content %}
<script src="https://unpkg.com/htmx.org@latest"></script>

<div class="container">
    <h1 class="page-title">Detalles dinámicos de la cámara: {{ camera.name }}</h1>
    <p class="camara-ubicacion">Ubicación: {{ camera.latitude }}, {{ camera.longitude }}</p>

    <a href="{% url 'camera_detail' camera.id %}" class="camara-link">Página estática de la cámara {{ camera.id }}</a>
    <a href="{% url 'camera_json' camera.id %}" class="camara-json-link">Enlace a la cámara JSON {{ camera.id }}</a>
    <hr>
    <div hx-get="{% url 'descargar' camera.id %}" hx-swap="innerHTML" hx-trigger="load, every 30s" id="camera-image">
    </div>
    <hr>
    <a href="{% url 'comentario' %}?id_camera={{ camera.id }}" class="comentario-link">¡Anímate y deja un comentario!</a>
    <br>
    <hr>

    {% if comments_for_this_camera %}
        <p class="comentario-list"><strong>Comentarios de esta cámara:</strong></p><hr>
        {% for comment in comments_for_this_camera %}
            <div class="comentario-container">
                <div class="comentario-texto">
                    <p class="comentario-text">Comentario: {{ comment.text }}</p>
                    <p class="comentario-date">Fecha del comentario: {{ comment.date }}</p>
                    <p class="comentario-user">Autor: {{ comment.author }}</p>
                </div>
                {% if comment.image %}
                    <img src="data:image/jpeg;base64,{{ comment.image }}" alt="Imagen no disponible">
                {% else %}
                    <p>Imagen no disponible</p>
                {% endif %}
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p class="no-comments"><strong>No hay comentarios para esta cámara. ¡Participa!</strong></p>
    {% endif %}

</div>

{% endblock %}