{% extends 'base.html' %}

{% block title %} TeVeO - Página dinámica de cámara específica {% endblock %}

{% block content %}

<script src="https://unpkg.com/htmx.org@latest"></script>

<h1>Detalles dinámicos de la cámara: {{ camera.name }}</h1>
<p>Ubicación: {{ camera.latitude }}, {{ camera.longitude }}</p>

<a href="{% url 'camera_detail' camera.id %}">Página estática de la cámara {{ camera.id }}</a>
<hr>

<hr>
<a href="{% url 'comentario' %}?id_camera={{ camera.id }}">Escribir un comentario</a>
<p>Listado de todos los comentarios para esa cámara desde cualquier navegador (primero los más recientes)</p>
{% endblock %}