{% extends 'base.html' %}

{% block title %} TeVeO - Ayuda {% endblock %}

{% block content %}
<div class="container">
    <h1>Ayuda - TeVeO</h1>

    <h2>Autoría</h2>
    <p>Esta aplicación ha sido desarrollada por Jose Luis Tamayo Díez.</p>

    <h2>Funcionamiento</h2>
    <p>La aplicación TeVeO tiene como objetivo escribir comentarios sobre diversas cámaras, sacadas de distintas fuentes
        de datos. Cualquier usuario puede ver tanto los comentarios, como las cámaras de las que disponemos, como cada
        cámara individual, de forma estática o dinámica; además de su formato JSON. Además de dejar su LIKE en las
        cámaras que más le gusten.</p>

    <h2>Documentación</h2>
    <p>A continuación se presenta una breve documentación sobre el funcionamiento de la aplicación:</p>
    <ul>
        <li><strong>Página Principal:</strong> Esta página muestra un listado de comentarios de distintas cámaras, cada
            uno de estos comentarios tiene su texto, imagen en el que se puso el comentario, fecha y el nombre de la
            cámara, que además es un link a la cámara estática.</li>
        <li><strong>Página de Cámaras:</strong> En esta página puedes observar un listado de fuentes, de las que puedes
            extraer cámaras pinchando sobre el botón que consideres. Además, un listado de cámaras con su nombre,
            identificador, enlaces a la cámara dinámica y estática y su número de comentarios.</li>
        <li><strong>Página de cada Cámara:</strong> Aquí observarás los datos de la cámara, una imagen de ella y un
            listado de los comentarios de dicha cámara, además de un enlace a un formulario para dejar un comentario.
        </li>
        <li><strong>Página de Configuración:</strong> Aquí puedes inciar sesión si quieres contribuir de manera no
            anónima, además de cambiar la fuente y tamaño de la web a tu gusto personal. Tamién puedes generar un link
            de autenticación para iniciar la mism sesión en otro navegador.
        </li>
    </ul>
</div>
{% endblock %}