{% extends 'base.html' %}
{% load static %}

{% block title %} TeVeO - Página Principal {% endblock %}

{% block content %}
<div class="container">
    <h3 class="page-title">Lista de comentarios</h3>
    <hr>

    <div class="comentarios">
        {% if comments %}
            {% for comment in comments %}
                <div class="comentario-container">
                    <div class="comentario-texto">
                        <b><a href="{% url 'camera_detail' comment.id_camera.id %}" class="comentario-link">Cámara: {{ comment.id_camera }}</a></b>
                        <p class="comentario-text">Comentario: {{ comment.text }}</p>
                        <p class="comentario-date">Fecha del comentario: {{ comment.date }}</p>
                        <p class="comentario-user">Autor: {{ comment.author }}</p>
                    </div>
                    {% if comment.image %}
                        <img src="data:image/jpeg;base64,{{ comment.image }}" alt="Imagen no disponible">
                    {% else %}
                        <img src="{% static 'images/no_image.jpeg' %}" alt="NoImage" class="no image">
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <p>No hay comentarios disponibles</p>
        {% endif %}
    </div>
</div>
{% endblock %}