{% extends 'base.html' %}

{% block title %} TeVeO - Configuración {% endblock %}

{% block content %}
<div class="container">
    <h1>Configuración</h1>
    <h2>Nombre del Comentador</h2>
    <form action="" method="POST">
        <label for="id_username">Nombre de Comentador:</label>
        <input type="text" id="id_username" name="username" value="{{ user.username }}">
        <button type="submit" name="save_username" class="btn btn-primary">Guardar</button>
    </form>
    <hr>
    <h2>Apariencia Personalizable</h2>
    <form action="" method="POST">
        <label for="id_font_size">Tamaño de la Fuente:</label>
        <select id="id_font_size" name="font_size">
            <option value="small">Pequeña</option>
            <option value="medium">Mediana</option>
            <option value="large">Grande</option>
        </select><br>
        <label for="id_font_type">Tipo de la Fuente:</label>
        <select id="id_font_type" name="font_type">
            <option value="Arial">Arial</option>
            <option value="Helvetica">Helvetica</option>
            <option value="Times New Roman">Times New Roman</option>
        </select><br>
        <button type="submit" name="save_appearance" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}